<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/">Начальная страница</a>
                </li>

                <li class="main-header__item">
                    <a href="/info">Инфо</a>
                </li>
            </ul>

        </nav>

    </header>


    {{{body}}}

  </body>
</html>
